.button-bg {
	background: #FFFFFF;
	border-radius: 0.5em;
	outline: none;
	border: 0;
}

.btn {
	border-radius: 0.5em;
	outline: none;
	border: 0;
}

.btn-white {
	background: #FFFFFF;
	color: #041847;
}

.btn-blue {
	background: #041847;
	color: #FFFFFF;
}

.button-bg p {
	color: #282E3B;
}

.button-bg:hover, .btn:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

.button-bg:active, .btn:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
